/* Contact Page */



.contact-section h2{
  font-family: 'Amatic SC', cursive;
    font-size:30px;
    font-weight: 500;
    color: #EB8FCC;

}

.contact-section p{
  font-family: 'Amatic SC', cursive;
    font-size:20px;
    font-weight: 300;
    color: #EB8FCC;

}

.contact-section label{
    font-family: 'Amatic SC', cursive;
    font-size:20px;
    font-weight: 700;
    color: #EB8FCC;

}
