@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

input .btn-btn-info{

  background-color:#8836FE;

}


#manage-orders{
  padding-top: 0px;
}

#manage-orders h3{
  font-family: 'Amatic SC', cursive;
    font-size:70px;
    font-weight: 700;
   color: #8836FE;
}

#manage-orders a{
  font-family: 'Amatic SC', cursive;
    font-size:40px;
    font-weight: 100;
    color: #8836FE;
}



/* About */


.floral-img-3{
    width:100%;
    height:400px;
    background-color:#F7F5FC;
    background-repeat: no-repeat;
    background-position: center;
    background-size:1000px 700px;
    display:table;
    line-height: 60px;
    
}
.section-about{
  padding-top:30px; 
  padding-left: 60px;
  padding-bottom: 40px;
}

.section-about h2{
  color: #EB8FCC;
  font-weight: 600px;
  font-size:55px;
  font-family: 'Amatic SC', cursive;
    text-shadow: 4px 4px 16px #EBB0D0;
}

.section-about h3{
  color: #EB8FCC;
  font-weight: 600px;
  font-size:35px;
  line-height: 35px;
  margin-top: 35px;
  font-family: 'Amatic SC', cursive;
    text-shadow: 4px 4px 16px #EBB0D0;
}

.section-about p{
  color: #463080;
  font-weight: 600px;
  font-size:25px;
  line-height: 40px;
  font-family: 'Amatic SC', cursive;
}

#boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

/* Make the image fit the box */
#boxshadow img {
    width: 100%;
    border: 1px solid #463080;
    border-style: inset;
    border-radius: 8px;
}

#boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

.ourTeam-heading{
    background:  url('img/craftsman_ave_562b65f151f26.png');
    height:400px;
    padding-top: 40px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10)); 
}
.ourTeam-heading h1{
    color: white;
    text-shadow: 4px 4px 16px #EBB0D0;
    font-family: 'Amatic SC', cursive;
    padding:150px 0px;
    font-weight:600;
    font-size:100px;
    z-index: 1;
}
.ourTeam-box{
    border-top: 6px solid #5DDDD3;
    background-color: #C0ABFA;
    margin-bottom: 30px;
}
.section1{
    padding: 30px 0px 0px 0px;
}
.section1 img{
    border:5px solid #5DDDD3;
    padding:5px;
    border-radius:50%;
    height:170px;
    width: 170px;
}
.section2 h1{
    font-size:50px;
    font-family: 'Amatic SC', cursive;
    color:#fff;
    margin:0px;
    border-bottom:2px solid #5DDDD3;
    display: inline-block;
    padding: 10px 0px;
}
.section2 p{
    background-color: #5DDDD3;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size:25px;
    color:#fff;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: -20px;    
}
.section2 span{
    color:#979597;
}
.section2 label{
    background-color: #5DDDD3;
    padding: 8px 10px 8px 10px;
    color:#fff;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}
.section3 p{
    padding: 10px 15px 0px 15px;
    font-size:12px;
    color:#c3c9c9;
    font-family: 'Amatic SC', cursive;
}
.section4{
    padding:10px 0px 50px 0px;
}
.section4 i{
    color:#fff;
    padding:3px;
    border-radius: 2px; 
    font-size: 12px;
    background-color: #5DDDD3;
    cursor: pointer;
}
.section-info{
    border-top:6px solid #90DFAA;
}
.section-danger{
    border-top:6px solid #FD8469;
}
.section-info .section1 img{
    border:5px solid #90DFAA;
    padding:5px;
}
.section-info .section2 p{
    background-color: #90DFAA;
    color:#fff;
    font-family: 'Amatic SC', cursive;
}
.section-danger .section2 p{
    background-color: #FD8469;
    color:#fff;
    font-family: 'Amatic SC', cursive;
}
.section-danger .section1 img{
    border:5px solid #FD8469;
    padding:5px;
}
.section-info .section4 i{
    background-color: #90DFAA;  
}
.section-danger .section4 i{
    background-color: #FD8469;  
}
.section-info .section2 h1{
    border-bottom:2px solid #90DFAA;
    font-family: 'Amatic SC', cursive;
}
.section-danger .section2 h1{
    border-bottom:2px solid #FD8469;
    font-family: 'Amatic SC', cursive;
}



/* Carousel */

.carousel-caption .display-2{
    font-family: 'Amatic SC', cursive;
    font-size:100px;
    font-weight: 700;
    color: #EB8FCC;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    
}

#carousel-button{
    background: #DCCBF4;
    font-family: 'Amatic SC', cursive;
    font-size:30px;
    font-weight: 500;
    border: 2px solid #8836FE;
  
  
}
#carousel-button:hover {
    background-color: #8836FE;
    border: 2px solid #DCCBF4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}


/* Contact Page */

.contact-section h2{
    font-family: 'Amatic SC', cursive;
    font-size:40px;
    font-weight: 500;
    color: #93939F;
    text-shadow: 2px 2px 8px #A87798;

}

.contact-section p{
  font-family: 'Amatic SC', cursive;
    font-size:20px;
    font-weight: 400;
    color: #93939F;

}

.contact-section label{
    font-family: 'Amatic SC', cursive;
    font-size:20px;
    font-weight: 600;
    color: #93939F;

}

.contact-icons{
    color: #93939F;
    margin-bottom: 30px;
}

.contact-section .btn-primary{
    display: block;
    width:10%;
    height: 50px;
    border: none;
    margin-bottom: 4px;
    background-color: #EBB0D0;
    font-family:'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: 35px;
    text-shadow: 4px 4px 16px #A87798;
  
}
.content-section .btn-primary:hover {
   background-color: #F7F5FC;
    border: 2px solid;
    border-color: #EBB0D0;
    cursor: pointer;
    color:#463080;
    line-height: 10px;
    }


/* Index */

.description-index button{
    display: block;
    width:10%;
    height: 50px;
    border: none;
    margin-bottom: 4px;
    background-color: #EBB0D0;
    font-family:'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: 12px;
    text-shadow: 4px 4px 16px #A87798;

}


.description-index button:hover{
    background-color: #F7F5FC;
    border: 2px solid;
    border-color: #EBB0D0;
    cursor: pointer;
    color:#463080;
    line-height: 12px;
    }

/* Banner */

/* Contact Page */
.floral-img-2{
    width:100%;
    height:700px;
    background-color:#F7F5FC;
    background-repeat: no-repeat;
    background-position: center;
    background-size:1000px 700px;
    display:table;
    line-height: 60px;
    
}

.index-banner{

    width:100%;
    height:calc(100vh - 100px);
    background-image: url('img/697aa6b2270a44f655f7c1994627a065.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display:table;
    
}

.vertical-center{
    display:table-cell;
    vertical-align:middle;

}

.index-banner h2{
   
    font-family: 'Amatic SC', cursive;
    font-size:100px;
    font-weight: 400;
    color: #EB8FCC;
    line-height: 100px;
    text-align:center;
    text-shadow: 2px 2px 8px #A87798;


}
.index-banner h1{
    
     font-family: 'Amatic SC', cursive;
     font-size:40px;
     font-weight: 400;
     line-height: 50px;
     color: #EB8FCC;
     text-align:center;
 
 }


/* Jumbotron */

.lead{
  font-family: 'Amatic SC', cursive;
    font-size:40px;
    font-weight: 300;
    color: #EB8FCC; 

}


/*Shop*/
.container-fluid{
  marin-top:100px;

}
.featured-prod{
  padding-top:20px;
}

#welcome-featured{
  padding-top: 15px;
  text-shadow: 4px 4px 16px #EBB0D0;
}

#shop-items{
  padding-top: 70px;
}

#featured-product-img{
  width:200px;
  height:200px;
  border: 2px solid #8836FE;

}

.display-4{
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
  color:#8836FE;
  font-size: 60px;
  text-shadow: 4px 4px 16px #A87798;
}

#featured-product-title{
  color: #EB8FCC;
  font-family: 'Amatic SC', cursive;
  font-size:40px;
  font-weight: 300;

}

#featured-product-desc{
  color: #EB8FCC;
  font-family: 'Amatic SC', cursive;
  font-size:20px;
  font-weight: 300;
  
}

.btn-primary{
    background: #DCCBF4;
    font-family: 'Amatic SC', cursive;
    font-size:30px;
    font-weight: 500;
    border: 2px solid #8836FE;
    width: 50%;
  
}
.btn-primary:hover {
    background-color: #8836FE;
    border: 2px solid #DCCBF4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}



/* Shop Carousel */

#shop-container{
  padding-top: 70px;
  height: 200px;
  width:1000px;
  margin: 0 auto;
  
}

.carousel-inner > .item > img {
  width:800px;
  height:500px;
}



/* Cart */




.products {
      border: 2px solid #F6D7E8;
      background-color: #FBEFF5;
      border-radius: 5px;
      padding: 16px;
      margin-bottom: 20px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  }

.products img{
  width: 130px;
  height:110px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.products .table {
    margin: 0px auto;
    float: none;
}
.products .row {
    margin: 0px auto;
    float: none;
}
.products .centered{
    float: none;
    margin: 0 auto;
}

 .products button:visited {
      text-decoration: none;
      color: white;
}
.products .button:hover {
    background: #EBB0D0;
    color:#463080;  
    text-decoration: none;

}
.products .button:active {
    text-decoration: none;
    color: white;
}
.btn-danger {
      font-size: 12px;
      padding: 3px;
}
.btn-danger:hover {
      text-decoration: none;
  }
a {
      text-decoration: none;
}
a:hover {
      text-decoration: none;
  }
h3 {
      margin-top: 0px;
}


/* Header */

.navbar-inverse .navbar-nav .active a{
color:#fff;
background-color: #EBB0D0;

}

.navbar-inverse .navbar-nav .active a:hover{
  color:#fff;
  background-color:#463080;
}

.navbar-inverse .navbar-nav .active a:hover{
  color:#fff;
  background-color: ##463080;

}


 .navbar{
  background: #fff;
  margin-bottom:20px;
  border-radius: 0;
  font-color: #EBB0D0;
  padding 1% 0;
  font-size: 1.2em;
  border: 0;
  
}




#brand-image{
  height:100px;
  width: 200px;
  padding-bottom: 10px;
}


header nav ul{
  float:left;
  position: relative;
  top:40px;
  color:#EBB0D0;
}

header nav ul li{
  flaot:left;
  list-style:none;
  color:#EBB0D0;
}

header nav ul li a{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color:#EBB0D0;
  line-height:63px;
}


header .nav-login{
  float:right;
 
}

header .nav-login form{
  float:left;

  padding-top: 10px;
}

header .nav-login form input{
  float:left;
  width: 110px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  line-height:30px;
  background-color: #F7F5FC;
}

header .nav-login form button{
  float:left;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color:#EBB0D0;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  font-weight: 400;
  color:white;
  line-height:30px;
  cursor:pointer;
}

header .nav-login form button:hover{

  background-color:#463080;
 
}

header .nav-login a{
  float:left;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  margin-top:10px;
  border-radius: none;
  background-color:#463080;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  font-weight: 400;
  color:white;
  line-height:20px;
  cursor:pointer;
 
}

header .nav-login a:hover{

  background-color:#EBB0D0;
 
}


.glyphicon {
   color:#EBB0D0;
   positon:relative;
   float:left;

}

.glyphicon:hover{
    cursor: pointer;
    color:#463080;

